h1 {
    text-align: center;
    font-weight: bold;
    font-size: larger;
    margin: 1%;
}

.sidebar {
    width: 25%;
    height: auto;
    position: absolute;
    right: 0;
    margin: 2%;
    margin-right: 10%;
    
    background-color: rgb(236, 176, 63);
    color: black;
    padding: 2%;
    border-radius: 10px;
}

.sidebar input {
    width: 80%;
   border: 1px solid black;
   border-radius: 40px;
   padding: 3%;
    margin: 5% 10% 5% 10%;
}

.sidebar h1 {
    margin: auto;
    text-align: center;
    font-weight: bold;
    font-size:100%;
}

.sidebar button {
    font-weight: bold;
}


/* receipt list */

.auditor-receipt-wrapper {
    width: 50%;
    height: auto;
    position: absolute;
    left: 0;
    margin: 2%;
    margin-left: 10%;
    
    background-color: rgb(236, 176, 63);
    color: black;
    padding: 2% 3% 2%;
    padding-right: 5%;
    padding-left: 3%;
    border-radius: 10px;
}

.auditor-receipt-wrapper h1 {
    text-align: left;
    font-weight: bold;
    font-size:100%;
}


#receipt {
    display: flex;
    justify-content: space-between;
}

#receipt div {
    width: 15%;
    height: auto;
    margin-top: 2%;
}

#receipt .end {
    width: 15%;
    height: auto;
    margin-top: 2%;
}