*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hello{
    padding: 30px;
}
.hello h1{
    font-size: 350%;
    font-weight: bold;
}

.orgs .cards {
    display: grid;
    background-color: rgb(236, 176, 63); 
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 90lvw;
    height: 13lvh;
    margin: 20px;
    padding: 20px;
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
  
.orgs .cards:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); 
}
  
.orgs .cards a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 10px;
}

.nav{
    position: relative;
    display: flex;
    overflow: hidden;
    float: right;
    width: 50lvw;
    margin-top: 30px;
    height: 20lvh;
}

.create{
    padding: 20px;
    margin-top: 1px;
    margin-left: 30%;
}

.create .btn{
    margin: 5px;
    width: 130px;
    height: 40px;
    font-weight: 500;
    background-color: rgb(236, 176, 63);
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease;
}

.btn:hover{
    background: bisque;
}